@model IEnumerable<Booking>

@{
    ViewData["Title"] = "List of bookings";
}

<div class="text-center text-danger Background-Color">
    <a button class="btn btn-primary" asp-action="Create">Klicka här för att boka</a>
    <h4 class="text-left">Bokningslista nedan</h4>
    <table class="table text-danger center">
        <thead>
            <tr>
                <th>
                    Namn
                </th>
                <th>
                    Bana
                </th>
                <th>
                    Från
                </th>
                <th>
                    Till
                </th>            
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.Booker</td>
                    <td>@booking.TrackName</td>
                    <td>@booking.From</td>
                    <td>@booking.To</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@booking.Id">Delete</a>
                        <a asp-action="Edit" asp-route-id="@booking.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


